

@media (min-width: 300px) {
    header {
        background-color: #45D1C1;
        height: 111px;
    }

    img {
       margin-top: -95px;
       padding-left: 32px;
       width: 100%;
       height: 285px;
    }
    
  }
