<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <img src="assets/img/logo-sem-fundo.png" alt="Logo Time Gold" style="height: 100px;
                width: 100px;">
                        <h5>Copyright © 2023</h5>
                        <h5>TODOS OS DIREITOS RESERVADOS<span>.</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>