<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Agilidade na entrega e a experiência que constroem a confiança entre a Time Gold e seus clientes.
                </h3>
                <p class="fst-italic">
                    Somos uma Distribuidora de Produtos de Informática .

                    Nosso objetivo é garantir o melhor custo benéficio para que os nossos clientes consigam revender os
                    nossos
                    equipamentos com ótima margem de preço.
                    Estamos sempre traçando novos objetivos para alcançarmos novos clientes com foco sempre na melhoria
                    de
                    nossa performance e atendimento.
                    Garantimos toda a cadeia de suprimentos, desde o fornecedor ao vendedor, até o cliente final.
                    Garantindo
                    qualidade, ótimo desempenho e pós venda. </p>
                <ul>
                    <li><i class="ri-check-double-line"></i>Custo Benefício.</li>
                    <li><i class="ri-check-double-line"></i>Entrega de Valor.</li>
                    <li><i class="ri-check-double-line"></i>Ótimo Desempenho.</li>
                    <li><i class="ri-check-double-line"></i>Atendimento Personalizado.</li>
                    <li><i class="ri-check-double-line"></i>Pós Venda Inconfundível.</li>

                </ul>
            </div>
        </div>

    </div>
</section>