<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contatos</h2>
            <p>Entre em contato e faça seu orçamento com a gente</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Localização</h4>
                        <p>São Paulo</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email</h4>
                        <p><a class="nav-link scrollto" href="mailto:timegoldinfo@gmail.com">timegoldinfo@gmail.com</a>
                        </p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Fale com a Time Gold</h4>
                        <p><a class="nav-link scrollto" href="https://contate.me/sitetimegoldinfo"
                                target="https://contate.me/sitetimegoldinfo">Clique aqui e seja direcionado para o nosso
                                Whatsapp</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>