<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <img src="assets/img/logo-sem-fundo.png" alt="Logo Time Gold" style="height: 100px;
      width: 100px;">
        <h1 class="logo me-auto me-lg-0"><a href="index.html"><span></span></a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Quem Somos</a></li>
                <li class="dropdown"><a class="nav-link scrollto" href="#services">Serviços</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contatos</a></li>
                <li><a class="nav-link scrollto"
                        href="https://www.canva.com/design/DAGN21Ax2SI/2HQSu0UF5TGjaFYor4tGiA/view?utm_content=DAGN21Ax2SI&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                        target="https://www.canva.com/design/DAGN21Ax2SI/2HQSu0UF5TGjaFYor4tGiA/view?utm_content=DAGN21Ax2SI&utm_campaign=designshare&utm_medium=link&utm_source=editor">Catálogo
                        de Produtos</a></li>
                <li><a class="nav-link scrollto" href="https://contate.me/sitetimegoldinfo"
                        target="https://contate.me/sitetimegoldinfo">Cotação Corporativa</a></li>
            </ul>
        </nav>
    </div>
</header>