<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Quem Somos</h2>
            <p>Serviços</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="https://contate.me/sitetimegoldinfo"
                            target="https://contate.me/sitetimegoldinfo">Compra de
                            Materias</a></h4>
                    <p>Compramos materiais em atacado com valor para revenda.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="https://www.canva.com/design/DAGN21Ax2SI/2HQSu0UF5TGjaFYor4tGiA/view?utm_content=DAGN21Ax2SI&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                            target="https://www.canva.com/design/DAGN21Ax2SI/2HQSu0UF5TGjaFYor4tGiA/view?utm_content=DAGN21Ax2SI&utm_campaign=designshare&utm_medium=link&utm_source=editor">Vendas
                            em Atacado e Varejo</a></h4>
                    <p>Venda de produtos eletrônicos no segmento de informática em Geral.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="https://contate.me/sitetimegoldinfo"
                            target="https://contate.me/sitetimegoldinfo">Sustentabilidade e autonomia para o seu
                            negócio</a></h4>
                    <p>A sustentabilidade empresarial é uma estratégia para não prejudicarmos o meio ambiente e nos
                        ajuda a
                        crescer economicamente.</p>
                </div>
            </div>
        </div>

    </div>
</section>